*.xcuserdatad
*.apk


#/////////////////////////////////////////////////////////////////////////////
# webstorm files
#/////////////////////////////////////////////////////////////////////////////

.idea/

#//////////////////////////
# VS Code
#//////////////////////////

.vscode/